{% extends "layout.html" %}
{% block title %}AlumniteJob Board{% endblock %}
{% block page %}Alumninte{% endblock %}

{{ super() }}

{% block content %}
{% if current_user.is_authenticated %}
<div class="sideNav">
    <a href="/homePage">Home</a>
    <a class="active" href="/jobBoard">Job Board</a>
    <a href="/event">Events</a>
    <a href="#">Profile</a>
</div>
<div class="portal">
    <div class="board">
        <div class="job">
            <p>Job: Graphic Designer</p>
            <p>Company: Technic Inc</p>
            <p>Salary: $2000TTD/2weeks</p>
            <p>Application Deadline: 18th July 2022</p>
            <p>Website: www.technicinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Software Engineer</p>
            <p>Company: Technic Inc</p>
            <p>Salary: $2000TTD/2weeks</p>
            <p>Application Deadline: 30th May 2022</p>
            <p>Website: www.technicinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Graphic Designer</p>
            <p>Company: Techno Inc</p>
            <p>Salary: $2500TTD/2weeks</p>
            <p>Application Deadline: 8th June 2022</p>
            <p>Website: www.technoinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Teacher</p>
            <p>Company: School</p>
            <p>Salary: $5500TTD/month</p>
            <p>Application Deadline: 15th September 2022</p>
            <p>Website: www.school.edu</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Assistant Designer</p>
            <p>Company: Techno Inc</p>
            <p>Salary: $4500TTD/month</p>
            <p>Application Deadline: 17th October 2022</p>
            <p>Website: www.technoinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Graphic Designer</p>
            <p>Company: Technic Inc</p>
            <p>Salary: $6000TTD/month</p>
            <p>Application Deadline: 22nd April 2022</p>
            <p>Website: www.technicinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Janitor</p>
            <p>Company: Technic Inc</p>
            <p>Salary: $2200TTD/2weeks</p>
            <p>Application Deadline: 19th June 2022</p>
            <p>Website: www.technicinc.com</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Interior Designer</p>
            <p>Company: Studio Live</p>
            <p>Salary: $5600TTD/month</p>
            <p>Application Deadline: 20th May 2022</p>
            <p>Website: www.liveStudio.org</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Photographer</p>
            <p>Company: Studio Live</p>
            <p>Salary: $250TTD/hour</p>
            <p>Application Deadline: 20th May 2022</p>
            <p>Website: www.liveStudio.org</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Cricket Coach</p>
            <p>Company: School</p>
            <p>Salary: $5000TTD/month</p>
            <p>Application Deadline: 15th August 2022</p>
            <p>Website: www.school.edu</p>
        </div>
        <br>
        <div class="job">
            <p>Job: Computer Technician</p>
            <p>Company: Techno Inc</p>
            <p>Salary: $2500TTD/2weeks</p>
            <p>Application Deadline: 6th May 2022</p>
            <p>Website: www.technoinc.com</p>
        </div>

{% endif %}

{% endblock %}